@import "./bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

h1{
    font-size: 30px;
    color: #FFFFFF ;
}
.quemsabe{ 
    height: 200px;
    background-color: #c0c0c0;
    @extend .col-md-12; 
    @extend .col-lg-6; 
    @extend .col-sm-2;  
}
body{
   @extend .col-sm-2;
    @extend .col-lg-6; 
    @extend .col-md-12; 
      
}